.App {
  text-align: center;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000000;
  font-size: small;
  color: white;
  text-align: center;
}
